:root {
  --bg-indigo-500-opacity-85: rgba(102, 126, 234, 0.890196078431372);
  --purple-text-aboutme: rgb(113, 111, 146);
  --light-gray: rgb(241, 238, 238);
}

h1 {
  @apply text-5xl;
}

header {
  background-size: cover;
  background-color: var(--bg-indigo-500-opacity-85);
  @apply relative h-screen;
}
header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  z-index: -1;
}
.about-me {
  color: var(--purple-text-aboutme);
}

.about-me p + p {
  @apply pt-6;
}
.contact-wrapper {
  background-color: var(--bg-indigo-500-opacity-85);
}
.left-menu {
  left: 2rem;
}
.letter {
  @apply text-3xl;
}
.letter-wrapper {
  letter-spacing: 5px;
}
.menu-button {
  top: 1rem;
  left: 1rem;
  @apply bg-indigo-400 inline-block absolute  text-4xl z-10;
}

.menu-hr__item:not(:first-child) {
  @apply mt-8;
}
.menu-hr__item > a {
  @apply block pb-2 border-b-4 border-white font-bold duration-300 px-16  pt-2 transition;
}
@screen md {
  .menu-hr__item > a {
    @apply px-24;
  }
}
.menu-hr__item > a:hover {
  @apply bg-white text-indigo-500 shadow-xs;
}
.My-work__icon {
  @apply flex  items-center relative h-32;
}
.my-work-wrapper {
  color: var(--bg-indigo-500-opacity-85);
  background: var(--light-gray);
}
.my-work__circle {
  border-color: var(--bg-indigo-500-opacity-85);
}
