:root {
  --bg-indigo-500-opacity-85: rgba(102, 126, 234, 0.890196078431372);
}
header {
  background-size: cover;
  background-color: var(--bg-indigo-500-opacity-85);
  @apply relative h-screen;
}
header::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  z-index: -1;
}
.left-menu {
  left: 2rem;
}

.menu-position {
  top: 0.5rem;
  left: 0.5rem;
}
.menu-hr__item {
  @apply mb-4;
}
.menu-hr__item > a {
  @apply block pb-2 border-b-4 border-white transition-opacity duration-300;
}

.menu-hr__item > a:hover {
  @apply opacity-75;
}
